@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --graybase-200: #57575f;
    --graybase-300: #44444b;
    --graybase-400: #36363c;
    --graybase-500: #2d2d33;
    --graybase-600: #212126;
    --graybase-700: #1C1A24
  }

*{
    font-family: 'Nunito', sans-serif;
}
.loader_mini {
    margin: auto;
    border: 3px solid #b4b4b43e;
    border-radius: 50%;
    border-top: 3px solid rgb(237, 196, 11);
    width: 20px;
    height: 20px;
    animation: spinner 1s linear infinite;
}

@keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.box-shadow-yellow{
    box-shadow: rgba(222, 170, 29, 0.5) 0px 0px 0.25em, rgba(222, 170, 29, 0.23) 0px 0.25em 1em;
}
.box-shadow-pink{
  box-shadow: rgba(125, 17, 192, 0.5) 0px 0px 0.25em, rgba(194, 47, 231, 0.23) 0px 0.25em 1em;
}
.background-lineargradient{
  background: linear-gradient(234deg, rgba(61, 61, 61, 0.76) 0%, rgba(57, 0, 76, 0.322) 80%);
}
.background-lineargradient-green{
  background: linear-gradient(234deg, rgba(86, 197, 74, 0.31) 0%, rgba(37, 206, 11, 0.66) 80%);
}

.overflowBar ::-webkit-scrollbar {
  width: 5px; /* Ancho de la barra de desplazamiento */
}

.overflowBar ::-webkit-scrollbar-thumb {
  background-color: #555; /* Color del pulgar de la barra de desplazamiento */
  border-radius: 6px; /* Esquinas redondeadas del pulgar */
}

.overflowBar ::-webkit-scrollbar-thumb:hover {
  background-color: #333; /* Color del pulgar de la barra de desplazamiento al pasar el cursor sobre él */
}

.overflowBar {
  scrollbar-width: thin; /* thin, auto o none */
  scrollbar-color: #888 #f1f1f1; /* color del pulgar color de la pista */
}

.overflowBar :hover ::-webkit-scrollbar-thumb {
  background-color: #555; /* Cambia el color del pulgar al pasar el cursor sobre el contenedor */
}
.mySwiper .swiper-pagination-progressbar-fill{
  background-color: rgba(222, 171, 29, 0.282);
}

.animatedBackgound{
  background-position: center;
  background-size:cover;
  -webkit-animation: slidein 70s;
  animation: slidein 70s;

  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;

  -webkit-animation-direction: alternate;
  animation-direction: alternate;      
}
@-webkit-keyframes slidein {
  from {background-position: center; background-size:3000px; }
  to {background-position: -100px 0px;background-size:2750px;}
  }
  
  @keyframes slidein {
  from {background-position: center;background-size:3000px; }
  to {background-position: -100px 0px;background-size:2750px;}
  
  }
  